include LICENSE
include README.md
include requirements.txt
include versioneer.py
include django_util/_version.py
recursive-include django_util/static *
recursive-include django_util/templates *
recursive-include django_util/templatetags *